In [1]:
import pandas as pd
import streamlit as st
import plotly.express as px

In [14]:
# Carregar os nossos datasets
df_acidentes = pd.read_csv("./titanic3.csv", sep=";")
# display(df_acidentes.describe().survived)
df_acidentes.count() * 100 / 1309

pclass       100.000000
survived     100.000000
name         100.000000
sex          100.000000
age           79.908327
sibsp        100.000000
parch        100.000000
ticket       100.000000
fare          99.923606
cabin         22.536287
embarked      99.847212
boat          37.127578
body           9.243697
home.dest     56.913675
dtype: float64